<!-- ==========================================================================
      LANDING PAGE STRUCTURE
      ======================================================================= -->

<!-- HERO -->
<header id="inicio" role="banner">
  <app-hero></app-hero>
</header>

<!-- PRODUCTS -->
<section id="productos" class="section-padding" aria-label="Nuestros Productos">
  <div class="container">
    <app-category-carousel></app-category-carousel>
  </div>
</section>

<!-- BANNERS -->
<section class="promo-wrapper" aria-label="Promociones destacadas">
  <div class="container">
    <app-banner></app-banner>
  </div>
</section>

<!-- INFO -->
<section id="nosotros" class="section-padding" aria-labelledby="nosotros-title">
  <app-info></app-info>
</section>

<!-- CONTACT -->
<section id="contacto" aria-label="Formulario de Contacto">
  <app-contact-form></app-contact-form>
</section>
