/* ==========================================================================
   LANDING PAGE
   ========================================================================== */

:host {
  display: block;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  gap: 0;
}

section {
  position: relative;
  width: 100%;
}

/* ==========================================================================
   MEDIA QUERIES (RESPONSIVE)
   ========================================================================== */
@media (max-width: 768px) {
  main {
    overflow-x: hidden;
  }
}
